html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.editor {
    flex: auto;
    overflow: hidden;
    margin: 5px;
    height: 400px;
}

#editor {
    flex: auto;
    overflow: hidden;
    margin: 5px;
    height: 400px;
}

.diff-editor {
    flex: auto;
    overflow: hidden;
    margin: 5px;
    height: 400px;
}

#diff-editor {
    flex: auto;
    overflow: hidden;
    margin: 5px;
    height: 400px;
}
.comment_text {
    background-color: #222222;
    color: white;
}
.summary {
    height: auto;
    max-height: 300px;
    min-height: 300px;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: row;
}